<% layout('layouts/boilerplate') %>
    <div class="row mt-1">
        <div class="col-8 offset-2">
                <br/><br/>
            <h3>Edit Listing</h3>
            <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
              + +98
              0 +.
               <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" id="title" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea id="description" name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please provide a valid description.</div>
                </div>

                <div class="mb-3">
                    <label class="form-label d-block">Current Listing Image:</label>
                    <img src="<%= previewImageUrl %>" alt="Current listing image" class="edit-preview-img">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image:</label>
                    <input id="image" name="listing[image]" type="file" class="form-control" accept="image/*">
                    <div class="form-text">New image select karoge to update ke baad wahi save hogi.</div>
                </div>
                
                <div class="row">
              
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" id="price" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                        <div class="invalid-feedback">Please provide a valid price.</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" id="country" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
                        <div class="invalid-feedback">Please provide a valid country.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" id="location" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
                    <div class="invalid-feedback">Please provide a valid location.</div>
                </div>

                <button type="submit" class="btn btn-dark edit-btn mt-3">Update Listing</button><br/><br/>
            </form>
        </div>
    </div>


    
